:root {
	--color-background: #f1f5f9;
	--color-application: #fff;
	--color-cyan: #0e7490;
	--shadow: 0 12px 16px -4px rgb(0, 0, 0, 0.1), 0 4px 8px -4px rgb(0, 0, 0, 0.1);
	--rounded: 12px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	padding-inline: 16px;
	background-color: var(--color-background);
}

.main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container {
	width: 100%;
	padding: 32px 24px;
	background-color: var(--color-application);
	border-radius: var(--rounded);
	box-shadow: var(--shadow);
}

.header h1,
.header p {
	text-align: center;
}

.header h1 {
	font-size: 28px;
}

.io-container {
	display: flex;
	flex-direction: column;
	margin-block: 24px;
}

.morse-code {
	padding: 12px;
	width: 100%;
	background-color: var(--color-background);
}

.morse-code h2 {
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 12px;
}

.button {
	padding: 16px 36px;
	background-color: var(--color-cyan);
	color: var(--color-background);
	box-shadow: var(--shadow);
	border: 0;
	border-radius: var(--rounded);
	cursor: pointer;
}

.button:active {
	box-shadow: var(--shadow-xl);
}

@media (min-width: 640px) {
	main {
		align-items: center;
	}

	.container {
		width: 75%;
	}
}

@media (min-width: 1024px) {
	.io-container {
		flex-direction: row;
	}

	.container {
		max-width: 800px;
	}
}
